
nav {
    background-color: #242526;
    color: #ffffff;
}


#search_icon {
    background-color: #3a3b3c;
    background-color: #3a3b3c;
    border-radius: 100px 0px 0px 100px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
}

#search_input {
    background-color: #3a3b3c;
    border-radius: 0px 100px 100px 0px;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
}
#search_input::placeholder{
    font-size: larger;
}

#search_input:focus{
    border: none;
    outline:none;
}

#facebook {
    color: #ffffff;
}
#messenger_icon,#notifications_icon,#user_icon{
    background-color: #3a3b3c;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 100%;
}